{% extends "layouts/base.html" %}

{% block title %} Book a dive {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <!-- <h5 class="m-b-10">Booking a Dive</h5> -->
                                </div>
                                <!-- <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Booking Page</a></li>
                                    </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form method="POST">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card card-event">
                                    <div class="card-header">
                                        <div class="row align-items-center justify-content-center">
                                            <!-- <div class="col-sm-12"> -->
                                            <div class="col">
                                                <h5>Dive Into the Box</h5>
                                            </div>

                                            <div class="col-auto form-inline">
                                                <!-- <form class="form-inline"> -->
                                                    {{ form.hidden_tag() }}
                                                    <div class="form-group mb-2">
                                                        <label for="Date" class="">Booking Date:</label>
                                                        {{ form.date(placeholder="Date", class="form-control") }}
                                                        {% for error in form.date.errors %}
                                                        <small class="form-text text-muted">[{{ error }}]</span>
                                                            {% endfor %}
                                                    </div>
                                                <!-- </form> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="flash-messages">
                                        {% for category, message in get_flashed_messages(with_categories=true) %}
                                        <div class="alert {{ category }}">{{ message }}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="row">
                                    {% for dive_site in dive_sites %}
                                    <!-- <img src="{{ config.ASSETS_ROOT }}{{ dive_site.picture_url}}" alt="..."> -->
                                    <div class="col-sm-4">
                                        <div class="card card-event">
                                            <div class="card-header">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col">
                                                        <h5 class="card-title">{{ dive_site.name }}</h5>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="submit" name="site" value="{{ dive_site.id }}" class="btn label theme-bg2 text-white f-14 f-w-400 float-right">Book</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body text-center p-0">
                                                <img src="{{ config.ASSETS_ROOT }}{{ dive_site.picture_url}}"
                                                    style="width:100%" alt="Picture of {{ dive_site.name }} underwater">
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}