<style type="text/css">
    .bp {
        background-color: inherit;
    }
</style>

<div id="{{ documentType }}-{{ booking_diver.id }}" class="{{ documentType }}-{{ booking_diver.id }}"
    data-token="{{ token }}" data-file_id="{{ file_id }}" style="height: 260px;">
</div>

<script>

    document.addEventListener("DOMContentLoaded", function (event) {
        renderPreview_single('{{ token }}',
            '.{{ documentType }}-{{ booking_diver.id }}',
            '{{ file_id }}'
        );
    });


</script>