<div id="{{ documentType }}-{{ booking_diver.id }}" class="{{ documentType }}-{{ booking_diver.id }}"
    style="height: 260px;">
</div>



<style type="text/css">
    .bcu-footer-left {
        display: none;
    }

    .bcu-footer .btn {
        padding: 0 16px;
        font-size: 14px;
        line-height: 24px;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var element = document.getElementById('{{ documentType }}-{{ booking_diver.id }}')
        renderUploader_single('{{ token }}',
            '.{{ documentType }}-{{ booking_diver.id }}',
            '{{ folder_id }}',
            '{{ documentType }}',
            '{{ booking_diver.id }}',
            uploaderSendEventToServer,
            "{{ url_for('booking_blueprint.event_upload') }}",
            "{{ url_for('booking_blueprint.page_booking',booking_id=booking_diver.booking_id ) }}",
            element,
        );
    });






</script>